.section-top-banner{
  padding: 150px;
  background: url("../../dist/images/background.jpg")no-repeat;
  background-size: cover;

}
.content-wr-block{
  position: relative;
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}
.count-wrapp{
  display: flex;
  font-size: 88px;
  font-family: $f-stack-spec;
  color: #c81818;
}
.item-count{
  height: 115px;
  width: 115px;
  line-height: 115px;
  text-align: center;

  &:nth-child(2){
    background: url("../../dist/images/2.png") no-repeat;
    background-size: 100% 100%

  }
  &:nth-child(3){
    background: url("../../dist/images/3.png") no-repeat;
    background-size: 100% 100%
  }&:nth-child(4){
    background: url("../../dist/images/4.png") no-repeat;
    background-size: 100% 100%
  }&:nth-child(5){
    background: url("../../dist/images/2.png") no-repeat;
    background-size: 100% 100%
  }&:nth-child(6){
    background: url("../../dist/images/3.png") no-repeat;
    background-size: 100% 100%
  }&:nth-child(7){
    background: url("../../dist/images/3.png") no-repeat;
    background-size: 100% 100%
  }&:nth-child(8){
    background: url("../../dist/images/2.png") no-repeat;
    background-size: 100% 100%
  }&:last-child{
    background: url("../../dist/images/4.png") no-repeat;
    background-size: 100% 100%
  }
}
.dollars{
  color: #1d5911;
  background: url("../../dist/images/1.png") no-repeat;
  background-size: cover;
}


.slogan-block{
  max-width: 345px;
  font-size: 31px;
  line-height: 1.2;
  font-family: $f-stack;
  font-weight: $regular;
  text-transform: uppercase;
  color: $white;
  margin: 0 auto;
}
.jackpot{
  color: $gold;
  text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.3);
}
.gold-txt{
  font-size: 100px;
  text-transform: uppercase;
  line-height: 2.259;
  text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.3);
  color: rgb(233, 185, 18);
  margin: 0 20px;
}
.block-txt {
  display: flex;
  align-items: center;
  max-width: 511px;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 36px;
  font-weight: $regular;
  color: #fdfed6;
}
.wr-code{
  text-align: center;
  width: 270px;
  margin: 0 auto;
}
.code-txt{
  font-size: 13px;
  color: $white;
  line-height: 3.1;
}
.this-code{
  width: 265px;
  height: 70px;
  line-height: 70px;
  font-size: 25px;
  text-align: center;
  color: #fdfed6;
  background: url("../../dist/images/polygon.png") no-repeat;
  margin-bottom: 25px;
}
.btn-claim-now{
  display: block;
  width: 265px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #700900;
  background: url("../../dist/images/btn.png")no-repeat;
  margin: 0 auto;
}
.spin-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
}
.item-spin{
  width: 8px;
  height: 8px;
  margin: 5px;
  border-radius: 50%;
  background: #a9706a;

  &:first-child{
    animation: spin 1s infinite ;
  }

  &:nth-child(2){
    width: 8px;
    height: 8px;
    animation: spin 1s infinite 1.5s;
  }
  &:last-child{
    width: 16px;
    height: 16px;
    animation: spin 1s infinite 2.5s;
  }
}
@keyframes spin {
  0%{
    width: 8px;
    height: 8px;
  }
  50%{
    width: 12px;
    height: 12px;
  }
  100%{
    width: 16px;
    height: 16px;
    background: $white;
  }
}
.section-slider{
  padding: 50px 0;
  background: #320e00;
}
.section-cap{
  font-size: 22px;
  font-weight: $light;
  text-align: center;
  color: $white;
  background: #320e00;
}
.slider-gallery{
  max-width: 1285px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.item-slide{
  position: relative;
  width: 270px;
  height: 200px;
  border-radius: 9px;
  overflow: hidden;
}
.item-slide_overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(175, 6, 2, .8);

}
.btn-white{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: $white;
  font-size: 16px;
  font-weight: $bold;
  border: 1px solid $white;
  border-radius: 17px;
  margin: 0 auto;
  z-index: 2;
}
